{
  "openapi": "3.0.4",
  "info": {
    "title": "Документация API",
    "description": "Документация API в виде SwaggerUI через [конфиг OpenAPI 3.0](/api/swagger/api.nbrb.by.json)",
    "contact": { "email": "pavel.innokentevich.galanin@gmail.com" },
    "version": "2025.04.26"
  },
  "externalDocs": {
    "description": "Документация API Национального Банка Республики Беларусь",
    "url": "https://www.nbrb.by/apihelp/exrates"
  },
  "servers": [
    {
      "url": "https://api.nbrb.by"
    }
  ],
  "tags": [
    {
      "name": "api.nbrb.by",
      "description": "Курс валют"
    }
  ],
  "paths": {
    "/exrates/rates": {
      "get": {
        "tags": ["api.nbrb.by"],
        "summary": "Курс валют для белорусского рубля",
        "description": "Получаем массив курса валют.",
        "parameters": [
          {
            "name": "periodicity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно получен список курса валют",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Cur_ID": {
                        "type": "number",
                        "description": "идентификатор валюты"
                      },
                      "Date": {
                        "type": "string",
                        "description": "дата курса валют"
                      },
                      "Cur_Abbreviation": {
                        "type": "string",
                        "description": "Код валюты, например, USD, EUR"
                      },
                      "Cur_Scale": {
                        "type": "number",
                        "description": "Количество белорусских рублей для перевода. \nФормула: <Cur_Scale> BYN = <Cur_OfficialRate> USD"
                      },
                      "Cur_Name": {
                        "type": "string",
                        "description": "наименование валюты"
                      },
                      "Cur_OfficialRate": {
                        "type": "number",
                        "description": "Количество валюты получится из белорусских рублей. \nФормула: <Cur_Scale> BYN = <Cur_OfficialRate> USD"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Не верный запрос. Возможно, не указан параметр periodicity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "Periodicity": {
                          "type": "array"
                        }
                      }
                    },
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP статус код"
                    },
                    "traceId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ошибка на сервере"
          }
        }
      }
    },
    "/exrates/currencies": {
      "get": {
        "tags": ["api.nbrb.by"],
        "summary": "полный перечень валют",
        "description": "Получаем массив валют. Его наименование на русском, белорусском и английском языке. Период действия валюты.",
        "responses": {
          "200": {
            "description": "Успешно получен список заказов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Cur_ID": {
                        "type": "number",
                        "description": "идентификатор валюты"
                      },
                      "Cur_ParentID": {
                        "type": "number",
                        "description": "идентификатор родителя валюты"
                      },
                      "Cur_Code": {
                        "type": "string"
                      },
                      "Cur_Abbreviation": {
                        "type": "string"
                      },
                      "Cur_Name": {
                        "type": "string",
                        "description": "наименование валюты на русском языке"
                      },
                      "Cur_Name_Bel": {
                        "type": "string",
                        "description": "наименование валюты на белорусском языке языке"
                      },
                      "Cur_Name_Eng": {
                        "type": "string",
                        "description": "наименование валюты на английском языке"
                      },
                      "Cur_QuotName": {
                        "type": "string",
                        "description": "количество валюты на русском языке"
                      },
                      "Cur_QuotName_Bel": {
                        "type": "string",
                        "description": "количество валюты на белорусском языке"
                      },
                      "Cur_QuotName_Eng": {
                        "type": "string",
                        "description": "количество валюты на английском языке"
                      },
                      "Cur_NameMulti": {
                        "type": "string",
                        "description": "наименование ? на русском языке"
                      },
                      "Cur_Name_BelMulti": {
                        "type": "string",
                        "description": "наименование ? на белорусском языке"
                      },
                      "Cur_Name_EngMulti": {
                        "type": "string",
                        "description": "наименование ? на английском языке"
                      },
                      "Cur_Scale": {
                        "type": "number",
                        "description": "количество валюты для перевода в белорусские рубли"
                      },
                      "Cur_Periodicity": {
                        "type": "number",
                        "description": "наименование валюты на русском языке"
                      },
                      "Cur_DateStart": {
                        "type": "string",
                        "description": "начало периода существования валюты"
                      },
                      "Cur_DateEnd": {
                        "type": "string",
                        "description": "конец периода существования валюты"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Ошибка на сервере"
          }
        }
      }
    }
  }
}
